!DOCTYPE html>
<html>
  <head>
    <title>My Pokedex</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="pokemon-list">
      <header><img src="/logo.png" />Pokedex</header>
      <% pokemonList.forEach((pokemon) => { %>
        <div class="pokemon-item">
          <img class="pokemon-img"  />
          <p>
            <span class="pokemon-position"><%= pokemon.id %>. ▲</span><%= pokemon.name %>
            <small>(Trained by <%= pokemon.trainer %>)</small>
          </p>
          <small class="pokemon-info">
            Type: <%= pokemon.type %> | Date Caught: <%= pokemon.date %>
          </small>
        </div>
      <% }); %>
    </div>
  </body>
</html>